{% extends 'base.html.twig' %}

{% block title %}Compte - Andy's Crochet{% endblock %}

{% block content %}

    <h1>Mon compte</h1>

    <a href="{{ path('account') }}">Retourner à mon compte</a>*
    {% if notification is defined %}
        <div class ="alert alert-info"> {{ notification }}</div>
    {% endif %}
    <div>

        {{ form(reset_form) }}
    </div>
{% endblock %}
