{% extends 'base.html.twig' %}

{% block title %}Accès refusé- Andy's Crochet{% endblock %}

{% block content %}

    <div class="block-small">
        <h2> Accès refusé</h2>

        <p> Oups, vous vous êtes perdu en cours de route</p>
        <a href="{{ path('home')}}" class="btn btn-info"> Revenir à l'accueil</a>
    </div>
{% endblock %}
